@media (max-width: 900px) {
    .base__edit {
        min-width: 300px;
    }

    .title-input-box svg{
        width: 24px;
        height: 24px;
    }
    .title-input-box h2{
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    .base__center{
        flex-direction: column-reverse;
    }
    .input-section{
        margin-bottom: 10px;
    }

    .base__center{
        min-height: auto;
    }


    .base{
        max-height: none;
    }
    .base__view{
        max-height: none;
    }
}

@media (max-width: 500px){
    #capture{
        transform: scale(80%);
    }
}

@media (max-width: 400px){
    #capture{
        transform: scale(70%);
    }
}