@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('http://fonts.cdnfonts.com/css/rawline');
 
:root{

    --primary-black: #161819;
    --secondary-black: #26292B;
    --dark-gray:#2E3239;

    --primary-white: #f8f8f8;

    --primary-darkblue: #014898;
    --primary-lightblue: #3C89FC;


    --header-color:gray;
}


html.marketing{
    --header-color: #D67C1C;
}
html.saude-seguranca{
    --header-color: #A1C037;
}
html.servico-compartilhado{
    --header-color: #DE9EC3;
}
html.gestao-estrategica{
    --header-color: #BD9C69;
}
html.educacao-tecnologia{
    --header-color: #6AB8EC;
}





*{
    font-family: 'Rawline', sans-serif;
    margin: 0;
    padding: 0;

    font-size: 1rem;

    box-sizing: border-box;
}